<!DOCTYPE html>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">


<link href='/index.css' rel='stylesheet' type='text/css'>
<script src="index.js"></script>
<script src='budget.js'></script>
<meta name="viewport" content="width=device-width, initial-scale=0.7">

<body id='page'>
<div>
    <h>PUKA!!!</h>
</div>
    </body>